
body {
  margin: 0;
  padding: 0;
}

:root{
  /* Fonts */
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Ubuntu', sans-serif;
  
  /* colors */
  --primary-color: #fff;
  --secondary-color: #c0a635;
  --darkness-prime:#585858;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bolder;
  font-size: 2.3rem;
  line-height: 1.3;

}


p {
  
  margin: 10px;
}

/* Headings */

#title{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.title-heading{
  font-size: 4.3rem;
}

/* Containers */

.container-fluid{
  padding: 3% 12% 6%;
}

/* Sections*/
.white-color-selection{
  background-color: var(--primary-color);
  color: var(--darkness-prime);
}

.color-selection{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 19px;
}

.nav-link{
 font-size: 1.3rem;
 font-family: var(--secondary-font);
}


/* Dowload Button */

.dowload-button{
  margin: 5% 3% 5% 0 ;
}

/* Image */

.image-title{
  width: 55%;
  transform: rotate(25deg);
  position: absolute;
  right: 35%;
}



/*Features Section*/
#features{
  padding: 7% 14%;
  background-color: var(--primary-color);
  position: relative;
}

.feature-link{
  text-align: center;
  padding: 5.5%;
}

.fa0-color,
.fa1-color,
.fa2-color{
  color: #7298a873;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: .5s ease-in-out ;
}

.fa0-color:hover,
.fa0-color:focus{
  color: #7fcac0fb;
  
}
.fa1-color:hover,
.fa0-color:focus{
  color: #9671b8f8;
  
}
.fa2-color:hover,
.fa0-color:focus{
  color: #cf5469f8;
  
}


/* Testimonials Section */
#testimonials{
  text-align: center;
  background-color: var(--secondary-color) ;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  text-align: center;
  padding: 5%;
  background-color: var(--secondary-color) ;
}

.press-logo{
 width: 15%;
 padding: 20px 20px 50px;
 text-decoration: none;
}

.carousel-item{
  padding: 7% 15%;
  color: var(--primary-color);
}

/*Pricing Section*/

#pricing{
  padding: 120px;
  text-align: center;
}

.pricing-padding{
  padding: 3% 2%;
}

.card-header{
  padding: 30px;
}
/* footer & cta section*/
#cta{
  background-color: var(--secondary-color);
  text-align: center;
  padding: 7% 14%;
}

.cta-headline{
 color: var(--primary-color);
 font-size: 3.5rem;
 line-height: 1.5;
}

#footer{
  padding: 2rem;
  text-align: center;
}

.footer-icon{
  margin: 1.1rem;
  font-size: 1.5rem;
  color: #525455f5;
  transition: ease-in .5s;
  cursor: pointer;
}

.footer-icon:hover{
  color: #797b7ced;
}

